body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* #toolbox li {
  padding: 1em .5em;
  border-top: solid thick #b71c1c;
  margin: 0 1px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  cursor: pointer;
}

#toolbox li:hover {
  box-shadow: 0 0 7px white;
}

#toolbox ul {
  margin: 0;
} */

#userDisplay:hover {
  box-shadow: 0 0 7px white;
}

.dropdown-content {
  opacity: 1;
}

.dropdown-content li>a {
  color: black;
}

.dropdown-content.small a {
  padding: 3px 1.5em;
  color: #b71c1c;
}

.dropdown-content.small li {
  min-height: auto;
  background-color: whitesmoke;
}


