body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#userDisplay:hover {
  box-shadow: 0 0 7px white;
}

.dropdown-content {
  opacity: 1;
}

.dropdown-content li>a {
  color: black;
}

.dropdown-content.small a {
  padding: 3px 1.5em;
  color: #b71c1c;
}

.dropdown-content.small li {
  min-height: auto;
  background-color: whitesmoke;
}

.input-field input[type=number]:focus, input[type=text]:focus, textarea:focus {
  border-bottom: 1px solid #b71c1c !important;
  box-shadow: 0 1px 0 0 #b71c1c !important;
}

.input-field input[type=number], input[type=text], textarea {
  border-bottom: 1px solid #616161 !important;
  box-shadow: 0 1px 0 0 #616161 !important;
}
