.descriptionSpell {
    font-weight: bold;
    color: #b71c1c;
    margin-top: 0;    
}

.spellCard {
    background-color: whitesmoke;
    box-shadow: 7px 10px 12px -5px;
    padding: 2rem;
    margin-top: 2rem;
}

.subHeadingSpell {
    font-weight: bold;
    font-size: 18px;
}

.subHeadingSpellDescription {
    font-weight: bold;
    color: #b71c1c;
}

