
.btnSignIn {
    color: white;
    background-color: #B71C1C;
}

.btnSignIn:hover {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 0 7px black;
    background-color: #B71C1C;
}

.input-field {
    color: #B71C1C;

}

.signIn {
    color: black;
    padding: 10px;
    width: 100%;
    padding: 10px;
    box-shadow: 7px 10px 12px -5px;
    text-align: center;
    background-color: rgb(144, 144, 144);
    border-radius: 3px;
    overflow: hidden;
    margin-top: 5%;
    font-family: 'Grenze', sans-serif;
    flex-direction: row;
    justify-content: flex-start;
}