.Builder {
  padding: 10px;
  width: 100%;
  padding: 10px;
  box-shadow: 7px 10px 12px -5px;
  text-align: center;
  background-color: rgb(144, 144, 144);
  border-radius: 3px;
  overflow: hidden;
  margin-top: 5%;
  font-family: 'Grenze', sans-serif;
  flex-direction: row;
  justify-content: flex-start;
}

.Builder label {
  font-size: 1.5em;
  color: whitesmoke;
}

.Builder-attributes {
  color: whitesmoke;
}

.Builder-title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #B71C1C;
  font-size: 30px;
} 

.characterName:hover {
  background-color: #c2c2c2;
  padding: .3rem;
  border-radius: 3px;
  width: 20rem;
}
